html,body{
    max-width: 100%;
    overflow-x: hidden;
}
h3 {
    font-family: 'Big Shoulders Display', cursive;
}
.container {
    width: 800px !important;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.container .sedan{
     
    background-color:  hsl(31, 77%, 52%);
    
}
.container .suvs{
     
    background-color:  hsl(184, 100%, 22%);
    
}
.container .luxury{
     
    background-color:  hsl(179, 100%, 13%);
    
}

.textsedan {
    height: 200px;

}

.container .row .sedan .btn-sedan {
    color: #e38826;
}

.container .row .suvs .btn-suvs {
    color: hsl(184, 100%, 22%);
}
.container .row .luxury .btn-luxury {
    color: hsl(179, 100%, 13%);
}